




.venv/
venv/
env/


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

data_raw/
jordan_dataset2/






.ipynb_checkpoints/









*.pth
*.pt
*.ckpt
*.onnx


saved_models/
mlruns/


logs/
*.log





mlflow.db


backend/db.sqlite3
*.sqlite3





CSV_files/
resources/
jordan_dataset/
out/
data/
datasets/
data_raw/
src/dissdetector/project_model_resnet_iou.py




GRAD_CAM_Output/
site/






.vscode/
*.code-workspace


.DS_Store
Thumbs.db





tempCodeRunnerFile.*
*.tmp
*.bak
*.swp


backend/media/
