torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
tqdm==4.66.4
numpy==1.26.4
Pillow==10.4.0
scikit-learn==1.4.2
matplotlib==3.8.4
albumentations
opencv-python
mlflow
pandas
requests
PyYAML
git+https://github.com/ChaoningZhang/MobileSAM.git
Django>=5.0,<5.1
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.3,<5.4
django-cors-headers>=4.3,<4.4
onnx>=1.16
onnxruntime>=1.18
